{
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:prettier/recommended"
  ],
  "plugins": ["@typescript-eslint"],
  "parserOptions": { "parser": "@typescript-eslint/parser" },
  "rules": {
    "@typescript-eslint/no-unused-vars": [
      "error",
      { "argsIgnorePattern": "^_" }
    ],
    "arrow-parens": [2, "as-needed"],
    "curly": "off",
    "dot-notation": "off",
    "no-control-regex": "off",
    "no-irregular-whitespace": "off", // 全角スペースは使うことがありそうなので無効化
    "no-unused-vars": "off",
    "semi": ["error", "always"],
    "space-before-function-paren": [
      "error",
      { "anonymous": "never", "named": "never", "asyncArrow": "always" }
    ],
    "unicorn/number-literal-case": "off", // Prettier 側を無効化できないので ESLint 側を無効化
    "vue/html-closing-bracket-newline": ["off"], // Prettier と競合するため無効化
    "vue/html-closing-bracket-spacing": ["error"],
    "vue/html-indent": ["off"], // prettier のチェックと重複するため無効化
    "vue/html-self-closing": ["off"],
    "vue/singleline-html-element-content-newline": ["off"],
    "vue/one-component-per-file": ["off"],
    "vue/custom-event-name-casing": ["off"],
    "vue/no-arrow-functions-in-watch": ["off"],
    "vue/no-custom-modifiers-on-v-model": ["off"],
    "vue/no-dupe-v-else-if": ["off"],
    "vue/no-multiple-template-root": ["off"],
    "vue/no-mutating-props": ["off"],
    "vue/no-v-for-template-key": ["off"],
    "vue/no-v-model-argument": ["off"],
    "vue/experimental-script-setup-vars": ["off"],
    "lines-between-class-members": "off"
  }
}
